// Mixins in here
.buttons(){
    background-color: @button-bg;
    width: 200px;
    height: 45px;
    border-radius: 15px;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 11px;
}